In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [3]:
df=pd.read_csv('demo_duplicate.csv')
df.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [5]:
del df0

SyntaxError: can't delete literal (<ipython-input-5-2c396ee26865>, line 1)

In [8]:
df

     Price  Seqno Symbol        time
0   1623.0    0.0   APPL  1473411962
1   1623.0    0.0   APPL  1473411962
2   1623.0    0.0   APPL  1473411963
3   1623.0    0.0   APPL  1473411963
4   1649.0    1.0   APPL  1473411963
5   1649.0    1.0   APPL  1473411963
6   1649.0    1.0   APPL  1473411964
7   1649.0    1.0   APPL  1473411964
8   1642.0    2.0   APPL  1473411964
9   1642.0    2.0   APPL  1473411964
10  1642.0    2.0   APPL  1473411965
11  1642.0    2.0   APPL  1473411965
12  1636.0    3.0   APPL  1473411965
13  1636.0    3.0   APPL  1473411965
14  1636.0    3.0   APPL  1473411966
15  1636.0    3.0   APPL  1473411966
16  1669.0    4.0   APPL  1473411966
17  1669.0    4.0   APPL  1473411966
18  1669.0    4.0   APPL  1473411967
19  1669.0    4.0   APPL  1473411967
20  1639.0    5.0   APPL  1473411967
21  1639.0    5.0   APPL  1473411967
22  1639.0    5.0   APPL  1473411968
23  1639.0    5.0   APPL  1473411968
24  1611.0    6.0   APPL  1473411968
25  1611.0    6.0   APPL  1473411968
26  1611.0    6.0   APPL  1473411969
27  1611.0    6.0   APPL  1473411969

In [12]:
df['Seqno'].unique()

array([0., 1., 2., 3., 4., 5., 6.])

In [13]:
df['Seqno'].duplicated()#判断是否和前面重复

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12    False
13     True
14     True
15     True
16    False
17     True
18     True
19     True
20    False
21     True
22     True
23     True
24    False
25     True
26     True
27     True
Name: Seqno, dtype: bool

In [15]:
df['Seqno'].drop_duplicates(keep='first')#前面没有与之重复的

0     0.0
4     1.0
8     2.0
12    3.0
16    4.0
20    5.0
24    6.0
Name: Seqno, dtype: float64

In [17]:
df['Seqno'].drop_duplicates(keep='last')#后面没有与之重复的

3     0.0
7     1.0
11    2.0
15    3.0
19    4.0
23    5.0
27    6.0
Name: Seqno, dtype: float64

In [18]:
df['Seqno'].duplicated(keep='last')#判断是否和后面重复

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15    False
16     True
17     True
18     True
19    False
20     True
21     True
22     True
23    False
24     True
25     True
26     True
27    False
Name: Seqno, dtype: bool