In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
#Series排序

In [3]:
s1=Series(np.random.rand(10))

In [4]:
s1

0    0.435756
1    0.132532
2    0.117670
3    0.055091
4    0.067939
5    0.940237
6    0.212654
7    0.780434
8    0.729212
9    0.451150
dtype: float64

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
s1.values

array([0.4357557 , 0.13253197, 0.11766997, 0.05509088, 0.0679388 ,
       0.94023724, 0.21265407, 0.78043379, 0.72921201, 0.45115017])

In [7]:
s2=s1.sort_values()
s2

3    0.055091
4    0.067939
2    0.117670
1    0.132532
6    0.212654
0    0.435756
9    0.451150
8    0.729212
7    0.780434
5    0.940237
dtype: float64

In [8]:
s1

0    0.435756
1    0.132532
2    0.117670
3    0.055091
4    0.067939
5    0.940237
6    0.212654
7    0.780434
8    0.729212
9    0.451150
dtype: float64

In [9]:
s2.sort_values(ascending=False)#升序（True）或降序(False)

5    0.940237
7    0.780434
8    0.729212
9    0.451150
0    0.435756
6    0.212654
1    0.132532
2    0.117670
4    0.067939
3    0.055091
dtype: float64

In [10]:
s2.sort_index(ascending=False)

9    0.451150
8    0.729212
7    0.780434
6    0.212654
5    0.940237
4    0.067939
3    0.055091
2    0.117670
1    0.132532
0    0.435756
dtype: float64

In [11]:
import string

In [12]:
#df排序
df1 = DataFrame(np.random.rand(40).reshape(8,5),columns=list(string.ascii_uppercase[:5]))

In [13]:
df1

          A         B         C         D         E
0  0.516019  0.888242  0.575932  0.273078  0.244062
1  0.229311  0.022118  0.025588  0.682839  0.563910
2  0.736634  0.984289  0.174398  0.060852  0.385972
3  0.174053  0.560949  0.991312  0.168745  0.636815
4  0.095319  0.118023  0.329139  0.849615  0.733250
5  0.542139  0.501710  0.740710  0.719700  0.698215
6  0.837741  0.090177  0.234931  0.419176  0.131346
7  0.793836  0.255009  0.232284  0.138316  0.398928

In [19]:
df1.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [15]:
df1.sort_values('A',ascending=False)

          A         B         C         D         E
6  0.837741  0.090177  0.234931  0.419176  0.131346
7  0.793836  0.255009  0.232284  0.138316  0.398928
2  0.736634  0.984289  0.174398  0.060852  0.385972
5  0.542139  0.501710  0.740710  0.719700  0.698215
0  0.516019  0.888242  0.575932  0.273078  0.244062
1  0.229311  0.022118  0.025588  0.682839  0.563910
3  0.174053  0.560949  0.991312  0.168745  0.636815
4  0.095319  0.118023  0.329139  0.849615  0.733250

In [16]:
df1.sort_index(ascending=False)

          A         B         C         D         E
7  0.793836  0.255009  0.232284  0.138316  0.398928
6  0.837741  0.090177  0.234931  0.419176  0.131346
5  0.542139  0.501710  0.740710  0.719700  0.698215
4  0.095319  0.118023  0.329139  0.849615  0.733250
3  0.174053  0.560949  0.991312  0.168745  0.636815
2  0.736634  0.984289  0.174398  0.060852  0.385972
1  0.229311  0.022118  0.025588  0.682839  0.563910
0  0.516019  0.888242  0.575932  0.273078  0.244062

In [17]:
df1

          A         B         C         D         E
0  0.516019  0.888242  0.575932  0.273078  0.244062
1  0.229311  0.022118  0.025588  0.682839  0.563910
2  0.736634  0.984289  0.174398  0.060852  0.385972
3  0.174053  0.560949  0.991312  0.168745  0.636815
4  0.095319  0.118023  0.329139  0.849615  0.733250
5  0.542139  0.501710  0.740710  0.719700  0.698215
6  0.837741  0.090177  0.234931  0.419176  0.131346
7  0.793836  0.255009  0.232284  0.138316  0.398928

In [18]:
df1.sort_values(1,axis=1)

          B         C         A         E         D
0  0.888242  0.575932  0.516019  0.244062  0.273078
1  0.022118  0.025588  0.229311  0.563910  0.682839
2  0.984289  0.174398  0.736634  0.385972  0.060852
3  0.560949  0.991312  0.174053  0.636815  0.168745
4  0.118023  0.329139  0.095319  0.733250  0.849615
5  0.501710  0.740710  0.542139  0.698215  0.719700
6  0.090177  0.234931  0.837741  0.131346  0.419176
7  0.255009  0.232284  0.793836  0.398928  0.138316