# 什么是

pandas 是基于NumPy 的一种工具，该工具是为了解决数据分析任务而创建的。
Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的工具

## 常用数据类型

- Series 一维带有标签的数组
- DataFrame 二维,是Series的容器

In [1]:
import pandas as pd

In [2]:
from pandas import Series,DataFrame

In [3]:
import numpy as np

In [4]:
import string

## 构造方法

## Series

In [5]:
t=pd.Series(data= np.arange(10),index = list(string.ascii_uppercase[:10]))
t

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int32

In [6]:
type(t)

pandas.core.series.Series

In [7]:
Series(data= np.arange(10),index = list(string.ascii_uppercase[:10]))

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int32

In [8]:
a= {string.ascii_uppercase[i]:i  for i in range(10)}

a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [44]:
t1=Series(a)
t2=t1['A':'C']

In [47]:
t2
t2['A']=1
t1

A    1
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [10]:
Series(a,index=list(string.ascii_uppercase[5:15]))
#NAN(NOT A NUMBER)数据类型为float

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

In [41]:
t[2:10:2]

   W  X   Y   Z
c  8  9  10  11

D:\anaconda\envs\tensorflow_gpu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anaconda\envs\tensorflow_gpu\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
t['C':'E':2]

C    2
E    4
dtype: int32

In [13]:
t[[2,3,6]]

C    2
D    3
G    6
dtype: int32

In [14]:
t[t>4]

F    5
G    6
H    7
I    8
J    9
dtype: int32

In [15]:
t[['A','F']]

A    0
F    5
dtype: int32

In [16]:
b=t.index
b

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [17]:
type(b
    )

pandas.core.indexes.base.Index

In [18]:
c= t.values
c

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
type(c)

numpy.ndarray

## DataFrame

- 通过粘贴版创建DataFrame

In [20]:
import webbrowser

In [21]:
link = 'https://www.tiobe.com/'
webbrowser.open(link)

True

In [39]:
df=pd.read_clipboard()#从粘贴版导入
type(df)

pandas.core.frame.DataFrame

In [23]:
t=pd.DataFrame(data = np.arange(12).reshape(3,4))

In [24]:
t

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

- DataFram 既有行索引，又有列索引
- 行索引  横向索引 index  axis=0  
- 列索引  纵向索引 columns axis=1

In [25]:
t=pd.DataFrame(data = np.arange(12).reshape(3,4),index = list(string.ascii_lowercase[:3]),columns=list(string.ascii_uppercase[-4:]))

In [26]:
t

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [27]:
d1={'name':['小明','小红'],'age':[18,20],'ph':[10010,10086]}

In [28]:
d1

{'age': [18, 20], 'name': ['小明', '小红'], 'ph': [10010, 10086]}

In [29]:
t2 = DataFrame(d1)
t2

   age name     ph
0   18   小明  10010
1   20   小红  10086

In [30]:
type(t2)

pandas.core.frame.DataFrame

In [31]:
t2.index

RangeIndex(start=0, stop=2, step=1)

In [32]:
t2.columns

Index(['age', 'name', 'ph'], dtype='object')

In [33]:
t2.values

array([[18, '小明', 10010],
       [20, '小红', 10086]], dtype=object)

In [34]:
t2.shape

(2, 3)

In [35]:
t2.dtypes

age      int64
name    object
ph       int64
dtype: object

In [36]:
t2.ndim

2

## DataFram io

In [37]:
df.to_csv('df.csv',index=False)#去掉索引后的数据  csv逗号分隔符文件

In [38]:
df.to_json

<bound method NDFrame.to_json of Empty DataFrame
Columns: [a=, {string.ascii_uppercase[i]:i, for, i, in, range(10)}]
Index: []>