In [1]:
import numpy as np
import pandas as pd

In [2]:
s1= pd.Series(np.random.rand(),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [3]:
s1

1  a    0.403212
   b    0.403212
   c    0.403212
2  a    0.403212
   b    0.403212
   c    0.403212
dtype: float64

In [4]:
s1[('1','c')]

0.4032118311344516

In [9]:
df1=s1.unstack()#转化为矩阵
df1

          a         b         c
1  0.403212  0.403212  0.403212
2  0.403212  0.403212  0.403212

In [10]:
pd.DataFrame([s1['1'],s1['2']])

          a         b         c
0  0.403212  0.403212  0.403212
1  0.403212  0.403212  0.403212

In [11]:
df1.unstack()

a  1    0.403212
   2    0.403212
b  1    0.403212
   2    0.403212
c  1    0.403212
   2    0.403212
dtype: float64

In [12]:
df1.T.unstack()

1  a    0.403212
   b    0.403212
   c    0.403212
2  a    0.403212
   b    0.403212
   c    0.403212
dtype: float64

In [14]:
#dataframe
df = pd.DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],['1','1','2','2']],columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])

In [15]:
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  1   4   5   6   7
b 2   8   9  10  11
  2  12  13  14  15

In [16]:
df['BJ']

      8   9
a 1   0   1
  1   4   5
b 2   8   9
  2  12  13

In [17]:
df['BJ',8]

a  1     0
   1     4
b  2     8
   2    12
Name: (BJ, 8), dtype: int32