In [9]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import string

In [7]:
1+np.nan

nan

## 敲黑板

    (NAN)
    - isnull  notnull  判断是否为nan
    - dropna (DataFrame按整行操作，常用参数how：any，all)去掉nan
    - fillna 填充空位(DataFrame 时常用参数：value：{行：值}，thresh：操作多少行后的数据)
    (pd.merge)
    常用属性（on，how）
    on: 要加入的列或索引级别名称
    
    都常用axis操作方向

- Series DataFrame 支持切片操作，操作原体，函数操作都操作副本
- 可以根据index访问，也可以根据值访问
- DataFrame 可以使用pd.read_clipboard()#从粘贴版导入
#### 常用属性：
- index
- values
- columns
- dtype
- ndim
- head()
- tail()
#### io 
- to+read

In [18]:
Series([1,2,3],index=[list(string.ascii_uppercase[:3])])

A    1
B    2
C    3
dtype: int64

In [15]:
Series({1:'a',2:'b',3:'c'})

1    a
2    b
3    c
dtype: object

In [17]:
a= {string.ascii_uppercase[i]:i  for i in range(10)}
Series(a,index=list(string.ascii_uppercase[5:15]))

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

In [13]:
DataFrame([
    [1,2,3],
    [np.nan,5,6],
    [7,np.nan,9],
    [np.nan,np.nan,np.nan]
])#index columns

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [14]:
DataFrame({
    'key':['A','B','C'],
    'data_set':[1,2,3]
    
})

   data_set key
0         1   A
1         2   B
2         3   C

### 矩阵运算
- +#共有位置相加，不公有位置为空
- describe
#### DataFrame
- 默认垂直方向 ，nan被忽略+axis(sum(),min(),max())

### rename
- (DataFram)index/columns=Series()
#### 常用
- map(操作方法)如str.upper/自定义函数
- rename(操作)如columns=str.lower/{原：改后，}

### 去重操作
- del 可以直接删去列
- drop(index=[],columns=[],axis=)
- unique()返回不重复的值数列
- duplicated()#判断是否和前面重复
- drop_duplicates(keep='first'/前，'last'后)#{}面没有与之重复的,返回index和value
- duplicated(keep='first'/前，'last'后)#判断是否和{}面重复，返回索引和true/false

### 排序
- (Series)sort_values(ascendig='升序降序'）
- (Dataframe)sort_values(列名称,ascendig='升序降序'）
- sort_index(ascending='升序降序')
- 具有轴参数

In [1]:
### 连接操作
- concat