In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
df=pd.read_csv('apply_demo.csv')

In [3]:
%pwd

'C:\\Users\\29007\\东软python实训'

In [4]:
df.head()

         time                                    data
0  1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0
1  1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0
2  1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0
3  1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0
4  1473411963   Symbol: APPL Seqno: 1.0 Price: 1649.0

In [5]:
df.size

56

In [6]:
df.index

RangeIndex(start=0, stop=28, step=1)

In [7]:
s1=Series(['a']*28)

In [8]:
s1

0     a
1     a
2     a
3     a
4     a
5     a
6     a
7     a
8     a
9     a
10    a
11    a
12    a
13    a
14    a
15    a
16    a
17    a
18    a
19    a
20    a
21    a
22    a
23    a
24    a
25    a
26    a
27    a
dtype: object

In [9]:
df['A']=s1

In [10]:
df

          time                                    data  A
0   1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0  a
1   1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0  a
2   1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0  a
3   1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0  a
4   1473411963   Symbol: APPL Seqno: 1.0 Price: 1649.0  a
5   1473411963   Symbol: APPL Seqno: 1.0 Price: 1649.0  a
6   1473411964   Symbol: APPL Seqno: 1.0 Price: 1649.0  a
7   1473411964   Symbol: APPL Seqno: 1.0 Price: 1649.0  a
8   1473411964   Symbol: APPL Seqno: 2.0 Price: 1642.0  a
9   1473411964   Symbol: APPL Seqno: 2.0 Price: 1642.0  a
10  1473411965   Symbol: APPL Seqno: 2.0 Price: 1642.0  a
11  1473411965   Symbol: APPL Seqno: 2.0 Price: 1642.0  a
12  1473411965   Symbol: APPL Seqno: 3.0 Price: 1636.0  a
13  1473411965   Symbol: APPL Seqno: 3.0 Price: 1636.0  a
14  1473411966   Symbol: APPL Seqno: 3.0 Price: 1636.0  a
15  1473411966   Symbol: APPL Seqno: 3.0 Price: 1636.0  a
16  1473411966   Symbol: APPL Seqno: 4.0 Price: 1669.0  a
17  1473411966   Symbol: APPL Seqno: 4.0 Price: 1669.0  a
18  1473411967   Symbol: APPL Seqno: 4.0 Price: 1669.0  a
19  1473411967   Symbol: APPL Seqno: 4.0 Price: 1669.0  a
20  1473411967   Symbol: APPL Seqno: 5.0 Price: 1639.0  a
21  1473411967   Symbol: APPL Seqno: 5.0 Price: 1639.0  a
22  1473411968   Symbol: APPL Seqno: 5.0 Price: 1639.0  a
23  1473411968   Symbol: APPL Seqno: 5.0 Price: 1639.0  a
24  1473411968   Symbol: APPL Seqno: 6.0 Price: 1611.0  a
25  1473411968   Symbol: APPL Seqno: 6.0 Price: 1611.0  a
26  1473411969   Symbol: APPL Seqno: 6.0 Price: 1611.0  a
27  1473411969   Symbol: APPL Seqno: 6.0 Price: 1611.0  a

In [11]:
df['A']=df['A'].apply(str.upper)

In [12]:
df.head

<bound method NDFrame.head of           time                                    data  A
0   1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0  A
1   1473411962   Symbol: APPL Seqno: 0.0 Price: 1623.0  A
2   1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0  A
3   1473411963   Symbol: APPL Seqno: 0.0 Price: 1623.0  A
4   1473411963   Symbol: APPL Seqno: 1.0 Price: 1649.0  A
5   1473411963   Symbol: APPL Seqno: 1.0 Price: 1649.0  A
6   1473411964   Symbol: APPL Seqno: 1.0 Price: 1649.0  A
7   1473411964   Symbol: APPL Seqno: 1.0 Price: 1649.0  A
8   1473411964   Symbol: APPL Seqno: 2.0 Price: 1642.0  A
9   1473411964   Symbol: APPL Seqno: 2.0 Price: 1642.0  A
10  1473411965   Symbol: APPL Seqno: 2.0 Price: 1642.0  A
11  1473411965   Symbol: APPL Seqno: 2.0 Price: 1642.0  A
12  1473411965   Symbol: APPL Seqno: 3.0 Price: 1636.0  A
13  1473411965   Symbol: APPL Seqno: 3.0 Price: 1636.0  A
14  1473411966   Symbol: APPL Seqno: 3.0 Price: 1636.0  A
15  1473411966   Symbol: APPL Seqno: 3.0 Price: 1636.0  A
16  1473411966   Symbol: APPL Seqno: 4.0 Price: 1669.0  A
17  1473411966   Symbol: APPL Seqno: 4.0 Price: 1669.0  A
18  1473411967   Symbol: APPL Seqno: 4.0 Price: 1669.0  A
19  1473411967   Symbol: APPL Seqno: 4.0 Price: 1669.0  A
20  1473411967   Symbol: APPL Seqno: 5.0 Price: 1639.0  A
21  1473411967   Symbol: APPL Seqno: 5.0 Price: 1639.0  A
22  1473411968   Symbol: APPL Seqno: 5.0 Price: 1639.0  A
23  1473411968   Symbol: APPL Seqno: 5.0 Price: 1639.0  A
24  1473411968   Symbol: APPL Seqno: 6.0 Price: 1611.0  A
25  1473411968   Symbol: APPL Seqno: 6.0 Price: 1611.0  A
26  1473411969   Symbol: APPL Seqno: 6.0 Price: 1611.0  A
27  1473411969   Symbol: APPL Seqno: 6.0 Price: 1611.0  A>

In [13]:
df['data']

0      Symbol: APPL Seqno: 0.0 Price: 1623.0
1      Symbol: APPL Seqno: 0.0 Price: 1623.0
2      Symbol: APPL Seqno: 0.0 Price: 1623.0
3      Symbol: APPL Seqno: 0.0 Price: 1623.0
4      Symbol: APPL Seqno: 1.0 Price: 1649.0
5      Symbol: APPL Seqno: 1.0 Price: 1649.0
6      Symbol: APPL Seqno: 1.0 Price: 1649.0
7      Symbol: APPL Seqno: 1.0 Price: 1649.0
8      Symbol: APPL Seqno: 2.0 Price: 1642.0
9      Symbol: APPL Seqno: 2.0 Price: 1642.0
10     Symbol: APPL Seqno: 2.0 Price: 1642.0
11     Symbol: APPL Seqno: 2.0 Price: 1642.0
12     Symbol: APPL Seqno: 3.0 Price: 1636.0
13     Symbol: APPL Seqno: 3.0 Price: 1636.0
14     Symbol: APPL Seqno: 3.0 Price: 1636.0
15     Symbol: APPL Seqno: 3.0 Price: 1636.0
16     Symbol: APPL Seqno: 4.0 Price: 1669.0
17     Symbol: APPL Seqno: 4.0 Price: 1669.0
18     Symbol: APPL Seqno: 4.0 Price: 1669.0
19     Symbol: APPL Seqno: 4.0 Price: 1669.0
20     Symbol: APPL Seqno: 5.0 Price: 1639.0
21     Symbol: APPL Seqno: 5.0 Price: 1639.0
22     Symbol: APPL Seqno: 5.0 Price: 1639.0
23     Symbol: APPL Seqno: 5.0 Price: 1639.0
24     Symbol: APPL Seqno: 6.0 Price: 1611.0
25     Symbol: APPL Seqno: 6.0 Price: 1611.0
26     Symbol: APPL Seqno: 6.0 Price: 1611.0
27     Symbol: APPL Seqno: 6.0 Price: 1611.0
Name: data, dtype: object

In [14]:
df['data'][0]

' Symbol: APPL Seqno: 0.0 Price: 1623.0'

In [15]:
l1=df['data'][0].strip().split(' ')

In [16]:
l1

['Symbol:', 'APPL', 'Seqno:', '0.0', 'Price:', '1623.0']

In [17]:
l1[1],l1[3],l1[5]

('APPL', '0.0', '1623.0')

In [18]:
def foo(line):
    items = line.strip().split(' ')
    return Series([items[1],items[3],items[5]])

In [19]:
df_tp=df['data'].apply(foo)

In [26]:
df_tp=df_tp.rename(columns=Series(['Symbol','Seqno','Price']))

In [27]:
df_new = df.combine_first(df_tp)

In [28]:
df_new.head()

   A   Price  Seqno Symbol                                    data        time
0  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0.0 Price: 1623.0  1473411962
1  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0.0 Price: 1623.0  1473411962
2  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0.0 Price: 1623.0  1473411963
3  A  1623.0    0.0   APPL   Symbol: APPL Seqno: 0.0 Price: 1623.0  1473411963
4  A  1649.0    1.0   APPL   Symbol: APPL Seqno: 1.0 Price: 1649.0  1473411963

In [30]:
del df_new['data']

In [31]:
del df_new['A']

In [32]:
df_new.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [34]:
df_new.to_csv('demo_duplicate.csv')